RewriteEngine on
RewriteRule ^rss.xml$   rss.php   [QSA,L]
RewriteRule ^(.+?)/rss.xml$   rss.php?idx=$1   [QSA,L]
RewriteRule ^print/(\d+)_(\d+)\.html$   ../print.php?id=$1&page=$2   [QSA,L]
RewriteRule ^tag/(.+?)(_(\d+))?\.html$   ../tag.php?tag=$1&page=$3   [QSA,L]
RewriteRule ^survey/(\d+)\.html$   ../survey.php?id=$1   [QSA,L]
RewriteRule ^catalog/(\w+?)/?(index(_(\d+))?\.html)?$   ../catalog.php?cat=$1&page=$4   [QSA,L]
RewriteRule ^article/[\w\d/]+/(\d+)(_(\d+))?\.html$   ../article.php?id=$1&page=$3   [QSA,L]