RewriteEngine on
RewriteRule ^article/[^\/]+/(\d+)(_(\d+))?\.html$	/read.php?id=/1&page=/3	[QSA,L]
RewriteRule ^catalog/([^\/]+)/(index(_(\d+))?\.html)?$	/list.php?cat=/1&page=/4	[QSA,L]
RewriteRule ^catalog/([^\/]+)/([^\/]+)/(index(_(\d+))?\.html)?$	/list.php?cat=/1&pre=/2&page=/5	[QSA,L]
RewriteRule ^tag/(.+?)(_(\d+))?\.html$	/tag.php?tag=/1&page=/3	[QSA,L]
RewriteRule ^article(/)?$	/list.php	[QSA,L]
RewriteRule ^catalog(/)?$	/list.php	[QSA,L]
RewriteRule ^tag(/)?$	/tag.php	[QSA,L]
RewriteRule ^rss.xml$	/rss.php	[QSA,L]
RewriteRule ^(.+?)/rss.xml$	/rss.php?cat=/1	[QSA,L]
RewriteRule ^api/(.+?)/(.+?)(/(.+))?$	/api.php?/1|/2|/4	[QSA,L]
RewriteRule ^ajax/(.+?)(/(.+))?$	/ajax.php?func=/1&return=/3	[QSA,L]
RewriteRule ^offical/login$	/module.php?m=offical&f=login_show	[QSA,L]
RewriteRule ^offical/password$	/module.php?m=offical&f=password	[QSA,L]
RewriteRule ^offical/login_check$	/module.php?m=offical&f=login	[QSA,L]
RewriteRule ^offical/logout$	/module.php?m=offical&f=logout	[QSA,L]
RewriteRule ^search/([^\.]+?)(/(\d+))?$	/module.php?m=search&k=/1&page=/3	[QSA,L]
