TABLE TD {padding:5px 5px 5px 5px;}
TABLE .thead {text-align:center;font-weight:bold;background-color:#ccc;}
TABLE .cat {border:0px solid; font-size:12px; font-weight:bold; color:#15324A; padding:5px; background-color:#8AB4D6; border-right:1px solid #0C5280; border-bottom:1px solid #0C5280; border-top:1px solid #629DC5; border-left:1px solid #629DC5; vertical-align:middle;}
TABLE .row {font-size:12px; background-color:#4791C5; border-bottom:1px solid #0C5280; border-right:1px solid #0C5280; border-top:1px solid #629DC5; border-left:1px solid #629DC5; padding:5px; color:#EDF4FA; vertical-align:middle;text-align:left;}

#page_ole {margin:auto; text-align:left; width:980px;}

#page_top {width:100%; height:180px; background:url(top_bg.png);}
#page_top .l {width:260px; text-align:center;}
#page_top .r {width:700px; text-align:center; padding:10px 0px 20px 0px;}
#page_top IMG {margin:40px 0px 0px 40px;}

#topbar {width:100%; height:30px; background:url(top_bar_bg.png); margin-top:1px; overflow:hidden;}
#topbar .l {width:19px; height:30px; background:url(top_bar_left.png);}
#topbar .m {height:30px; padding:9px 0px 0px 10px;}
#topbar .m LI {font-weight:bold; float:left; padding:0px 10px 0px 10px; border-left:2px solid #990000;}
#topbar .m .first {padding-left:0; border-left:none;}
#topbar .r {width:19px; height:30px; background:url(top_bar_right.png);}

.box {float:left; overflow:hidden;}
.box .title {font-size:12px; font-weight:bold; color:#990000;}
.box .title .bar {display:block; background:url(textbar_3.png); width:104px; height:18px; text-align:center; padding:4px 0px 0px 0px;}
.box .content {padding:10px 10px 10px 10px;}
.box .content UL {margin: 10px 0px 10px 0px;}
.box .content LI {height:25px; line-height:25px; overflow:hidden; border-bottom:1px #990000 dotted; margin-bottom:2px;background:url(dot.gif) 2px 10px no-repeat; padding-left:10px; white-space:nowrap; word-wrap:keep-all;}
.box .content UL.img_list LI {float:left; width:130px; text-align:center; padding:0px; margin:0 14px; line-height:20px; height:130px; overflow-y:hidden; margin-bottom:10px; border:0px; background-image:url();}
.box .content UL.img_list LI IMG {border:1px #999999 solid; width:120px; height:90px;}

.box .menu {font-size:14px; font-weight:bold; padding:10px 10px 10px 10px; background:url(box1_bottom.png); background-repeat:no-repeat; background-position:bottom center;}
.box .menu SPAN {line-height:24px;}
.box .menu UL {margin: 0px 0px 0px 0px;}
.box .menu LI {line-height:24px; background:url(dot.gif) 10px 10px no-repeat; padding:0px 0px 2px 20px; white-space:nowrap; word-wrap:keep-all;}

.box_1 {width:261px; background:url(box1_bg.png); margin-right:10px;}
.box_1 .title {height:32px; text-align:center; background:url(box1_top.png); padding-top:15px; color:#990000;}
.box_1 .content {height:262px; background:url(box1_bottom.png); background-repeat:no-repeat; background-position:bottom center; color:#990000; line-height:20px; padding:10px 20px 10px 20px;}
.box_1 .content .c1{font-size:14px; font-weight:bold; font-family:¿¬Ìå_GB2312; color:#FF0000;}
.box_1 .content .c2{padding:10px 0px 10px 0px;}
.box_1 .content .c3{text-align:center;}

.box_2 {width:434px; border:1px #990000 solid; margin-right:10px;}
.box_2 .title {height:27px; background:url(bar_3.png); font-size:12px; color:#990000;}
.box_2 .title .bar {display:block; width:100%; background:url(bar_pic1.png) 10px 0px no-repeat; padding:6px 0px 0px 90px; text-align:left;}
.box_2 .content {height:280px;}
.box_2 .content I {color:#999999;}

.box_3 {float:right; width:260px; border:1px #990000 solid;}
.box_3 .title {height:27px; background:url(bar_2.png);}
.box_3 .content {height:280px; background-color:#F1E8B6;}

.box_4 {width:706px; border:1px #990000 solid;}
.box_4 .title {height:27px; background:url(bar_2.png);}
.box_4 .content {background-color:#FFFFFF; padding-left:30px;}

.box_5 {float:right; width:260px; border:1px #990000 solid;}
.box_5 .title {height:27px; background:url(bar_2.png);}
.box_5 .content {background-color:#FFFFFF;}
.box_5 .content LI {height:78px; overflow:hidden; background:url();}
.box_5 .content .c1 {text-align:left; height:50px;}
.box_5 .content .c2 {text-align:right;}

.box_6 {float:left; width:482px; border:1px #990000 solid;}
.box_6 .title {height:27px; background:url(bar_2.png);}
.box_6 .content {height:280px; background-color:#FFFFFF;}

.box_7 {float:right; width:482px; border:1px #990000 solid;}
.box_7 .title {height:27px; background:url(bar_2.png);}
.box_7 .content {height:280px; background-color:#FFFFFF;}

.box_8 {width:100%; border:1px #990000 solid;}
.box_8 .title {height:17px; background:url(bar_1.png);}
.box_8 .content {background-color:#FFFFFF; text-align:left;}
.box_8 .content IMG {width:150px; height:50px; border:1px #999999 solid; margin:5px 3px 0px 0px;}

.slide {position:relative;width:100%; height:100%;}
.slide a {color:#FFF;}
.slide a:hover {color:#FFF;}
.slice dl {display:none;}
.slide dd {text-align:center;}
.slide dd img {width:100%; height:100%;}
.slide .slide-num {position:absolute; bottom:20px; height:20px; font-size:12px; width:100%;}
.slide .slide-num ul {float:right;}
.slide .slide-num li {float:left; padding:0 7px; background:#666; margin:0px 5px 0px 0px; color:#FFF; height:20px; line-height:20px; cursor:pointer;}
.slide .slide-num li.selected {background:#faa213; cursor:auto;}
.slide .slide-show {position:absolute; bottom:0px; background:#faa213; height:20px; font-weight:bold; font-size:14px; width:100%; line-height:20px; padding:0 5px;}

.taglist {width:94%; background:#F9F9F9; border:1px solid #DFDFDF; margin:10px auto 10px auto; overflow:hidden; padding:10px;}
.taglist h4 {font-weight:bold; margin-bottom:10px;}

.page_lst {width:100%; margin-top:10px;}
.page_lst .fl {width:261px;}

.page_lst .page {text-align:center; padding:20px 0;}
.page_lst .page em, .page_lst .page a, .page_lst .page strong, .page_lst .page i {padding:3px 7px; border:1px solid #DDD; *display:inline-block;}
.page_lst .page em, .page_lst .page i {color:#6C6C6C;}
.page_lst .page strong {font-weight:bold; color:#FF0084}
.page_lst .page a:hover {color:#FFF; background:#039; text-decoration:none;}

.page_lst .box_1 {float:left; margin:0px 0px 10px 0px;}
.page_lst .box_1 .content .pic {margin:0px; padding:0px;}
.page_lst .box_1 .content .pic LI {float:left; padding:0px; margin:0px; width:110px; height:130px; overflow-y:hidden; text-align:center; border:0px; background-image:url();}
.page_lst .box_1 .content .pic IMG {border:2px #ddcf7f solid; width:80px; width:90px;}

.page_lst .box_2 {width:700px; margin:0px;}
.page_lst .box_2 .title .c2 {float:right; text-align:right; padding:4px 10px 0px 0px;}
.page_lst .box_2 .content {height:100%; padding:10px 10px 10px 10px;}

.page_lst .pic_news {margin:0px 0px 10px 0px; padding:5px 5px 5px 5px; line-height:20px; color:#990000; background-color:#fefefe; border:1px #eeeeee solid;}
.page_lst .pic_news H4 {font-weight:bold; font-size:16px; margin-bottom:10px;}
.page_lst .pic_news IMG {float:left; width:180px; height:120px; margin:0px 20px 0px 0px; border:1px #999999 dotted;}
.page_lst .pic_news .describe {word-wrap:break-word; word-break:break-all;}

.page_lst .main {min-height:1000px; height:auto!important;}
.page_lst .main H1 {font-weight:bold; font-size:20px; margin:30px 0px 0px 0px; text-align:center;}
.page_lst .main H3 {margin:20px 0px 20px 0px; padding:10px 0px 10px 0px; text-align:center; border-top:1px #ddcf7f solid; border-bottom:1px #ddcf7f solid; color:#999933;}
.page_lst .main .bottom {border-top:1px #ddcf7f solid; clear:both; text-align:left; line-height:24px;padding:10px 0px 0px 0px; font-weight:bold;}
.page_lst #content {color:#666600; line-height:24px; font-size:14px;}
.page_lst #content .title_img {float:right; padding:10px 10px 10px 10px; width:120px;}
.page_main #content UL, .page_main #content OL {padding-left:24px;}

.regist {padding:20px 0px 20px 0px; font-size:14px;}
.regist H3 {font-weight:bold; font-size:20px; margin:0px 0px 10px 0px; text-align:center;}
.regist TABLE {word-break:break-all; BORDER: black 1px solid; border-collapse:collapse; border-Color:#999999; margin:20px 0px 10px 0px;}
.regist TABLE TD {padding:10px 15px 10px 15px; text-align:left;}
.regist TABLE .highlight {background-color:#dddddd; font-weight:bold;}
.regist INPUT[type="text"], .regist INPUT[type="file"] {border:0px; border-bottom:1px #000000 solid; padding:0px 0px 2px 0px;}
.regist P {text-align:right; margin-right:20px;}

#page_bottom {line-height:20px; text-align:center; margin:10px auto 10px auto; padding-top:10px; width:100%; border-top:1px solid #CBCBCB;}
