body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0; padding:0;}
table{border-collapse:collapse; border-spacing:0;}
fieldset,img{border:0;}
/*
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal; font-weight:normal;}
*/
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0; font-variant:normal;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,textarea,select{font-family:inherit; font-size:inherit; font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
table {font-size:inherit; font:100%;}
pre,code,kbd,samp,tt {font-family:monospace; *font-size:108%; line-height:100%;}
body a {color:#0000ff; text-decoration:none;}
body a:hover {color:#FF0084;}

.after {zoom:1;}
.after:after {content:'.'; visibility:hidden; display:block; height:0; clear:both;}
.fl {float:left;}
.fr {float:right;}
.tr {text-align:right;}
.tc {text-align:center;}
.page_bar {width:100%; margin-top:10px;}
.nopadding {padding:0px;}
.nomargin {margin:0px;}

BODY {font-size:12px; text-align:left; padding:0px; margin:auto; cursor:default; overflow-x:hidden;}
#bar_loading{top:0px;left:0px;display:none;color:#333333;font-size:24px;font-weight:bold;line-height:48px;position:absolute;border:1px #999999 solid;padding:20px 30px 10px 30px;z-index:999;background-color:#eeeeee;z-index:999;text-align:center;}

#page_ole {margin:auto; text-align:left; width:100%; min-width:980px;}

#page_top {background-color:#f2f9fd; clear:both; margin:auto auto auto auto; text-align:left; width:100%; min-width:800px; height:72px; border-bottom:2px #739ace solid;}
#page_top .l {float:left; padding:10px 0px 0px 10px;}
#page_top .r {float:right;}
#page_top .r .info {text-align:right; padding:10px 10px 0px 10px; white-space:nowrap; word-wrap:keep-all;}

#menu_nav {margin-right:20px;}
#menu_nav li {z-index:100; position:relative; text-align:center; display:block; float:left; letter-spacing:1px; font-size:14px; font-weight:bold; white-space:nowrap; word-wrap:keep-all;}
#menu_nav li a.nav {text-decoration:none; font-weight:bold; display:block; float:left; padding:5px 8px 5px 8px; margin:24px 5px 0px 5px; border:1px solid #6d84b4;}
#menu_nav li a.nav:link,
#menu_nav li a.nav:visited {color:#fff; background-color:#739ace;}
#menu_nav li a.nav:hover {background-color:#6d84b4;}
#menu_nav li ul {position:absolute; list-style-type:none; width:110px; display:none; top:48px; left:5px;}
#menu_nav li ul li {background-color:#f2f9fd; position:relative; width:100%; border-bottom:1px #ccc solid; font-size:12px; filter:alpha(opacity=80); -moz-opacity:0.8; opacity:0.8;}
#menu_nav li ul li a {display:block; text-decoration:none; text-align:left; padding:10px 10px 10px 10px;}
#menu_nav li ul li a:link,
#menu_nav li ul li a:visited {color:#000;}
#menu_nav li ul li a:hover {background-color:#739ace; color:#fff;}

#page_main {width:100%; clear:both;}
#page_main .list {background-color:#f2f9fd; width:200px; border-right:2px #739ace solid; padding:10px 0px 0px 10px; overflow:hidden;}
#page_main .content {width:auto; padding:0px;}
#page_main .content IFRAME {overflow:visible; width:100%; height:100%;}

#cat_tree {margin: 10px 0px 0px 0px; width:180px; overflow-x:hidden;}
#cat_tree ul {width:150px; line-height:24px; font-size:14px; font-weight:bold;}
#cat_tree ul li {background-image:url("images/tree_icon/endnode.gif"); background-repeat:no-repeat; background-position:0px 3px; padding-left:18px; white-space:nowrap; word-wrap:keep-all;}

#reset_pwd {width:280px;padding:0px;margin:0px;text-align:center;}
#reset_pwd div {padding:5px 0px 5px 0px;}

DIV .title {border:1px solid #629DC5; padding:5px 5px 5px 25px; font-weight:bold; color:#fff; background-color:#3275AB; background-image:url("images/arrow.gif"); background-repeat:no-repeat; background-position:5px center;}
DIV .nav {margin:20px auto 20px auto; text-align:center; font-size:12px; font-weight:bold;}
DIV .addnew {position:absolute; top:0px; right:10px; width:120px; height:20px; padding:3px 0px; font-size:14px; text-align:center; font-weight:bold; background-image:url("images/btn.gif"); background-repeat:no-repeat;}

TABLE td {vertical-align:middle;}
TABLE .cat, TABLE .row, TABLE .cat td, TABLE .row td {border:1px solid #629DC5; padding:5px 10px;}
TABLE .cat {font-weight:bold; background-color:#F2F9FD;}
TABLE .cat span {color:red;}

H1 {font-size:16px;font-weight:bold;text-align:center;margin:10px auto 0px auto;}

#list_area,
#input_area {width:800px; border:1px solid #629DC5; margin:10px auto 10px auto;}
#input_area input[type=text],
#input_area select {width:280px; background-color:#DAE7F2; color:#15324A; font-weight:bold; font-size:12px; border:1px inset #A9A9A9; padding-top:3px;}
#input_area textarea {width:280px; font-size:12px; border:1px inset #A9A9A9;}
#input_area span.comment {color:#00a; font-size:12px; margin-left:10px;}
#input_area .btn {width:90px; background-color:#DAE7F2; color:black; font-weight:normal; border:1px solid black; padding:1px 10px 1px 10px;}
#input_area .cbox {width:20px; background-color:transparent; border:0px;}
#list_area tr:hover {background-color:#eef;}
#list_area td {word-wrap:break-word;word-break:break-all;}

#page_bottom {position:absolute; bottom:0px; background-color:#fff; clear:both; line-height:20px; text-align:center; margin:0px auto 0px auto; padding:10px 0px 10px 0px; width:100%; border-top:2px solid #739ace;}

.popshow {position:absolute; border:1px #000 solid; display:none; overflow:hidden;}
.popshow .title {text-align:left; border:1px solid #629DC5; padding:5px 5px 5px 25px; font-weight:bold; color:#fff; background-color:#3275AB; background-image:url("images/arrow.gif"); background-repeat:no-repeat; background-position:5px center;}
.popshow .content {padding:10px 10px 10px 10px; background-color:#fff; text-align:left;}
.popshow DL {float:left; margin: 0px 5px 10px 5px;}
.popshow DT IMG {border:1px #dddddd solid; width:120px; height:90px; cursor:pointer;}
.popshow DD {font-size:14px; font-weight:bold; padding:5px 0px 0px 0px; text-align:center;}
